@import './app.css';

#about {
	width: 90%;
	max-width: 1080px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 64px;
	padding: var(--section-gap) 0;
	.sectionTitle {
		width: 50%;
	}
	.sectionTitle p span a{
		color: var(--text-color);
	}
	.imageContainer {
		width: 50%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
        position: relative;
        border-radius: 0 0 0 12px;
		img {
            width: 100%;
			height: 100%;
			object-fit: cover;
            border-radius: 0 0 0 12px;
		}
	}
	.imageContainer::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 12px;
		left: 12px;
		background-color: hsl(0, 0%, 44%, 0.1);
		border: solid 2px hsl(0, 0%, 44%, 0.4);
		border-radius: 0 0 0 12px;
		z-index: -1;
	}
}

@media screen and (max-width: 1050px) {
    #about{
        flex-direction: column;
		.sectionTitle, .imageContainer{
			width: 100%;
			img{
				aspect-ratio: 1 / 1;
			}
		}

    }
}