@import './app.css';

.lift{
    translate: 0 -10px;
}

#home {
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    overflow: hidden;
    .homeContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0 5vw;
        h1 {
            cursor: default;
            text-align: center;
            font-size: clamp(24px, 5vw, 64px);
            text-align: center;
            text-transform: uppercase;
            color: var(--text-color);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--text-color);
            span{
                -webkit-text-fill-color: var(--text-color);
                *{
                    transition: translate 150ms cubic-bezier(.26,.71,.62,1.38);
                }
            }
        }
        .socialLinks{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            flex-wrap: wrap;
        }
    }
    .bgArt{
        position: absolute;
        right: -500px;
        top: 0;
        max-width: unset;
        opacity: .3;
        z-index: -1;
    }
}

@media screen and (max-width: 700px) {
    #home{
        .homeContent{
            h1{
                -webkit-text-fill-color: var(--text-color);
                -webkit-text-stroke-width: 0px;
            }
        }
        .bgArt{
            width: 2000px;
            top: 25%;
            right: -300px;
        }
    }
}
@media screen and (max-width: 500px) {
    #home{
        .homeContent{
            .socialLinks{
                gap: 16px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #home{
        .homeContent{
            .socialLinks{
                gap: 0px;
                .standardLink{
                    scale: 0.8;
                }
            }
        }
    }
}