#work {
	--item-width: 50vmin;
	width: 90%;
	max-width: 1080px;
	margin: auto;
	padding: var(--section-gap) 0;
	// overflow: hidden;
	.centerContainer {
		width: var(--item-width);
		height: var(--item-width);
		position: relative;
		margin-top: 32px;
		#drag-track {
			display: flex;
			gap: calc(var(--item-width) / 10);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			user-select: none;
			touch-action: none;
			cursor: grab;
			.projectCard {
				height: var(--item-width);
				width: var(--item-width);
				position: relative;
				
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 100% center;
				}
				.projectDetails {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					translate: 0 100%;
					padding-top: 16px;
					color: var(--text-color);
					transition: opacity 600ms;
					.titleActions {
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-bottom: 12px;
						h3 {
							font-size: 32px;
							font-weight: 300;
							translate: 0 32px;
							opacity: 0;
							transition: all 300ms;
						}
						.actions {
							display: flex;
							align-items: center;
							gap: 32px;
							translate: 0 32px;
							opacity: 0;
							transition: all 300ms;
							a {
								color: var(--text-color);
								text-decoration: none;
								transition: scale 200ms;
								svg {
									path {
										stroke: var(--text-color);
									}
									.fill {
										fill: var(--text-color);
										stroke: transparent;
									}
								}
							}
							a:hover,
							a:focus {
								scale: 1.1;
							}
							a:active {
								scale: 0.9;
							}
						}
					}
					.toolsUsed {
						display: flex;
						align-items: center;
						gap: 16px;
						p {
							font-weight: 600;
							font-size: 20px;
							translate: 0 32px;
							opacity: 0;
							transition: all 300ms;
						}
					}
				}
			}
			.projectCard:hover {
				.projectDetails {
					.titleActions {
						h3 {
							translate: 0 0;
							opacity: 1;
						}
						.actions {
							translate: 0 0;
							opacity: 1;
							transition: all 300ms 100ms;
						}
					}
					.toolsUsed {
						p {
							translate: 0 0;
							opacity: 1;
						}
						:nth-child(1) {
							transition: all 300ms 200ms;
						}
						:nth-child(2) {
							transition: all 300ms 300ms;
						}
						:nth-child(3) {
							transition: all 300ms 400ms;
						}
						:nth-child(4) {
							transition: all 300ms 500ms;
						}
					}
				}
			}
		}
		#drag-track:active{
			cursor: grabbing;
		}
	}
	.columnDisplay {
		width: 100%;
		display: none;
		.showMoreBtnContainer{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 64px;
			.showMoreBtn{
				background-color: transparent;
				border: solid 2px var(--text-color);
				border-radius: 0 0 0 8px;
				font-size: 20px;
				padding: 10px;
				width: 200px;
				color: var(--text-color);
				margin: auto;
				cursor: pointer;
				transition: scale 200ms;
			}
			.showMoreBtn:hover{
				scale: 1.03;
			}
			.showMoreBtn:active{
				scale: 0.97;
			}
		}
		.showMoreProjects{
			height: 0;
			opacity: 0;
			width: 100%;
			overflow: hidden;
			transition: all 300ms;
		}
		.showMoreProjects.show{
			height: auto;
			opacity: 1;
		}
		.projectCard {
			margin-top: 64px;
			width: 100%;
			aspect-ratio: 1 / 1;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			.projectDetails {
				width: 100%;
				padding-top: 16px;
				color: var(--text-color);
				.titleActions {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 12px;
					h3 {
						font-size: 32px;
						font-weight: 300;
					}
					.actions {
						display: flex;
						align-items: center;
						gap: 32px;
						a {
							color: var(--text-color);
							text-decoration: none;
							transition: scale 200ms;
							svg {
								path {
									stroke: var(--text-color);
								}
								.fill {
									fill: var(--text-color);
									stroke: transparent;
								}
							}
						}
						a:hover,
						a:focus {
							scale: 1.1;
						}
						a:active {
							scale: 0.9;
						}
					}
				}
				.toolsUsed {
					display: flex;
					align-items: center;
					gap: 16px;
					p {
						font-weight: 600;
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	#work {
		.centerContainer {
			display: none;
		}
		.columnDisplay {
			display: block;
		}
	}
}
// @media screen and (max-width: 600px) {
// 	#work {
// 		.carousel {
// 			.carouselItem {
// 				.itemContent {
// 					.itemInfo {
// 						display: none;
// 					}
// 					.mobileContent {
// 						display: block;
// 						.mobileItemActions {
// 							flex-direction: column;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
