* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  overflow-x: hidden;
}

.CTA {
  width: 150px;
  position: relative;
}

.CTA button {
  width: 150px;
  height: 40px;
  background-color: #FF773D;
  color: white;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 1;
  outline: none;
  font-weight: 500;
}

.CTA div {
  width: 150px;
  height: 40px;
  border: solid 2px #FF773D;
  position: absolute;
  bottom: -6px;
  right: -6px;
  z-index: -1;
}

.CTA button:hover {
  cursor: pointer;
  -webkit-transform: translate(12px);
          transform: translate(12px);
}

.CTA button:active {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

nav {
  width: 90%;
  max-width: 1500px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  height: 50px;
}

nav .navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

nav .navButtons a:not(.CTA) {
  color: #8e8e8e;
  text-decoration: none;
  border-bottom: solid 1px white;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav .navButtons a:hover:not(.CTA) {
  color: black;
  border-bottom: solid 1px black;
}

#home {
  min-height: 300px;
  max-width: 1500px;
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .titleContainer {
  position: relative;
  width: 50%;
  z-index: 2;
}

#home .titleContainer > * {
  margin: 20px 0;
}

#home .titleContainer #title {
  font-size: 96px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  letter-spacing: 3px;
}

#home .titleContainer #container {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .titleContainer #container h1 {
  font-size: 48px;
  font-weight: 400;
  margin-right: 12px;
}

#home .titleContainer #container #window {
  position: relative;
  height: 58px;
  overflow: hidden;
}

#home .titleContainer #container #window h1 {
  -webkit-animation: change 10s infinite;
          animation: change 10s infinite;
}

@-webkit-keyframes change {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  42% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  47% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  92% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  97% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes change {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  42% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  47% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  92% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  97% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#home .titleContainer .CTA {
  margin-top: 30px;
  width: 250px;
  height: 50px;
  display: block;
}

#home .titleContainer .CTA button {
  width: 250px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}

#home .titleContainer .CTA div {
  width: 250px;
  height: 50px;
  bottom: -6px;
  right: -6px;
  z-index: -1;
}

#home .titleContainer .CTA button:hover {
  cursor: pointer;
  -webkit-transform: translate(12px);
          transform: translate(12px);
}

#home .titleContainer .CTA button:active {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

#home .imageContainer {
  width: 50%;
}

#home .imageContainer img {
  width: 100%;
}

#about {
  width: 100%;
  margin: 100px 0 100px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .bgArt {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 55%;
  padding: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(26.02%, #F5F5F5));
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 26.02%);
  border-radius: 0px 0px 0px 232px;
}

#about .bgArt img {
  height: 400px;
}

#about #textContainer {
  padding: 150px 0;
  width: 90%;
  max-width: 1500px;
  z-index: 2;
}

#about #textContainer h1 {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 30px;
}

#about #textContainer p {
  width: 60%;
  font-size: 32px;
  font-weight: 200;
}

#work {
  width: 90%;
  max-width: 1500px;
}

#work h1 {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 30px;
}

#work #workContainer {
  width: 90vw;
  max-width: 1500px;
  height: 54vw;
  max-height: 900px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#work #workContainer div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#work #workContainer div a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

#work #workContainer div a p {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  -webkit-box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.412);
          box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.412);
}

#work #workContainer div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#work #workContainer div:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#work #workContainer div:hover a {
  opacity: 1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#work #moreContainer {
  width: 100%;
  padding: 50px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#work #moreContainer .CTA {
  width: 200px;
  display: block;
}

#work #moreContainer .CTA button {
  width: 200px;
  height: 40px;
  background-color: #000;
}

#work #moreContainer .CTA div {
  width: 200px;
  height: 40px;
  border: solid 2px #000;
}

#work #toolsContainer {
  margin-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work #toolsContainer h3 {
  width: 100%;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  color: gray;
}

#work #toolsContainer #tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-top: 50px;
  width: 80%;
}

#contact {
  width: 90%;
  max-width: 1500px;
}

#contact h1 {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 30px;
}

#contact #textBorder {
  padding: 15px;
  width: 100%;
  border: solid 2px black;
  margin-bottom: 30px;
}

#contact .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#contact #messageEmail, #contact #messageMsg, #contact #messageName {
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;
}

#contact #messageMsg {
  height: 500px;
  text-align: start start;
  resize: none;
}

#contact #bottomArea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

#contact #bottomArea .CTA {
  width: 200px;
}

#contact #bottomArea .CTA button {
  width: 200px;
  height: 40px;
}

#contact #bottomArea .CTA div {
  width: 200px;
  height: 40px;
}

#contact #bottomArea #socials a, #contact #bottomArea #socials a:visited {
  text-decoration: none;
}

#contact #bottomArea #socials svg {
  margin: 0 10px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#contact #bottomArea #socials svg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

#contact .popAnimation {
  -webkit-animation: thanksPop 5s;
          animation: thanksPop 5s;
}

#contact .thankYou, #contact .error {
  opacity: 0;
  z-index: 150;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 23px -4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 23px -4px rgba(0, 0, 0, 0.25);
}

#contact .thankYou h3, #contact .thankYou h4, #contact .error h3, #contact .error h4 {
  color: #fff;
  font-weight: 300;
}

#contact .thankYou button, #contact .error button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border-radius: 4px;
}

#contact .thankYou button:hover, #contact .error button:hover {
  background-color: #ffffff4b;
  cursor: pointer;
}

#contact .error {
  background-color: #e83333;
}

@-webkit-keyframes thanksPop {
  0% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    opacity: 1;
  }
  15% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  85% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
}

@keyframes thanksPop {
  0% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    opacity: 1;
  }
  15% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  85% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 0;
  }
}

@media screen and (max-width: 1500px) {
  #home .titleContainer #title {
    font-size: 64px;
  }
  #home .titleContainer #container h1 {
    font-size: 32px;
  }
  #home .titleContainer #container #window {
    height: 39px;
  }
  #about #textContainer h1 {
    font-size: 48px;
  }
  #about #textContainer p {
    font-size: 26px;
  }
  #work h1 {
    font-size: 48px;
  }
  #contact h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 1000px) {
  #home .imageContainer {
    display: none;
  }
  #about .bgArt {
    width: 70%;
  }
  #about .bgArt img {
    height: 300px;
  }
  #about #textContainer p {
    width: 80%;
  }
  #contact .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 800px) {
  #work #workContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    height: 216vw;
    max-height: none;
  }
  #about #textContainer {
    padding: 50px 0;
  }
}

@media screen and (max-width: 700px) {
  nav img {
    height: 40px;
  }
  nav .navButtons a:not(.CTA) {
    display: none;
  }
  #about #textContainer p {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #home .titleContainer #title {
    font-size: 42px;
  }
  #home .titleContainer #container h1 {
    font-size: 24px;
  }
  #home .titleContainer #container #window {
    height: 29px;
  }
  #home .titleContainer .CTA {
    width: 150px;
    height: 40px;
  }
  #home .titleContainer .CTA button, #home .titleContainer .CTA div {
    font-size: 18px;
    width: 150px;
    height: 40px;
  }
  #bottomArea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  #contact h1 {
    font-size: 36px;
  }
}
/*# sourceMappingURL=style.css.map */