/* Global Styling */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: color 300ms, background-color 300ms, border-color 300ms, fill 300ms;
  transition: color 300ms, background-color 300ms, border-color 300ms, fill 300ms;
}

:root {
  --primaryText: #000;
  --accentColor: #ff773d;
  --bgColor: #fff;
}

html {
  scroll-behavior: smooth;
}

body, html {
  background-color: var(--bgColor);
}

#app {
  background-color: var(--bgColor);
}

/* Reused Components */
.darkenImage {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.invertImage {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.title {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 30px;
  color: var(--primaryText);
}

.CTA {
  width: 150px;
  position: relative;
  display: -ms-grid;
  display: grid;
  text-decoration: none;
      grid-template-areas: 'place';
}

.CTA .border {
  width: 150px;
  height: 40px;
  border: solid 2px var(--accentColor);
  position: relative;
  bottom: -6px;
  right: -6px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: place;
}

.CTA button {
  width: 150px;
  height: 40px;
  background-color: var(--accentColor);
  color: white;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 20;
  outline: none;
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: place;
}

.CTA button:hover,
.CTA button:focus {
  cursor: pointer;
  -webkit-transform: translate(12px);
          transform: translate(12px);
}

.CTA button:active {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

.CTA.black button {
  background-color: var(--primaryText);
  color: var(--bgColor);
}

.CTA.black div {
  border-color: var(--primaryText);
}

.CTA.maxWidth {
  width: 100%;
}

.CTA.maxWidth button,
.CTA.maxWidth div {
  width: 100%;
}

.CTA.large {
  width: 200px;
}

.CTA.large button,
.CTA.large div {
  width: 200px;
}

.bgArt {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bgColor)), color-stop(26.02%, rgba(0, 0, 0, 0.055)));
  background: linear-gradient(180deg, var(--bgColor) 0%, rgba(0, 0, 0, 0.055) 26.02%);
  border-radius: 0 0 0 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 200px;
}

.bgArt img {
  height: 100%;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.bgArt .darkArt {
  opacity: 0.03;
}

.backArrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.backArrow svg * {
  stroke: var(--primaryText);
}

.projectLink {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'stack';
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.projectLink img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stack;
  -webkit-filter: blur(0) brightness(0.9);
          filter: blur(0) brightness(0.9);
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

.projectLink p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stack;
  place-self: center center;
  z-index: 2;
  background-color: #fff;
  padding: 10px 20px;
  color: #000;
  border-radius: 7px;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.projectLink:hover img {
  -webkit-filter: blur(5px) brightness(0.7);
          filter: blur(5px) brightness(0.7);
}

.projectLink:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Main page styling */
.main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background-color 300ms, opacity 300ms;
  transition: background-color 300ms, opacity 300ms;
  background-color: var(--bgColor);
  position: relative;
  overflow-x: hidden;
}

.main section {
  width: 90%;
  max-width: 1500px;
}

#home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home nav {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home nav .geLogo {
  width: 86px;
}

#home nav .geLogo path {
  fill: var(--primaryText);
}

#home nav .navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

#home nav .navItems .switchTheme {
  height: 28px;
  width: 28px;
  border: none;
  background: transparent;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 0.5;
  cursor: pointer;
}

#home nav .navItems .switchTheme * {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#home nav .navItems .switchTheme .isDarkMode {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#home nav .navItems .switchTheme .isDarkModeSub {
  fill: #282828;
}

#home nav .navItems .switchTheme:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 1;
}

#home nav .navItems a {
  text-decoration: none;
  color: var(--primaryText);
  position: relative;
}

#home nav .navItems a:not(.CTA) button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 18px;
}

#home nav .navItems a:not(.CTA) button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primaryText);
  height: 1.5px;
  width: 0%;
  -webkit-transition: width 150ms;
  transition: width 150ms;
}

#home nav .navItems a:not(.CTA) button:hover::after,
#home nav .navItems a:not(.CTA) button:focus::after {
  width: 100%;
}

#home .homeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 500px;
  gap: 50px;
}

#home .homeContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  color: var(--primaryText);
}

#home .homeContent div h1 {
  font-size: 86px;
  font-weight: 400;
}

#home .homeContent div p {
  font-size: 42px;
}

#home .homeContent div:not(.imgContainer) {
  z-index: 2;
}

#home .homeContent .imgContainer {
  width: 50%;
  border-radius: 50%;
  position: relative;
  padding: 1px;
}

#home .homeContent .imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

#home .homeContent .imgContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 46px 70px var(--bgColor);
          box-shadow: inset 0px 0px 46px 70px var(--bgColor);
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

#about {
  width: 100%;
  max-width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#about .aboutText {
  width: 90%;
  max-width: 1500px;
  z-index: 3;
}

#about .aboutText > * {
  width: 60%;
  color: var(--primaryText);
}

#about .aboutText p {
  font-size: 32px;
  font-weight: 200;
}

#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work .featured {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#work .featured div {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#work .featured div a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

#work .featured div a p {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  -webkit-box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.412);
          box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.412);
}

#work .featured div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#work .featured div:hover {
  cursor: pointer;
}

#work .featured div:hover img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

#work .featured div:hover a {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#work .CTA {
  margin-block: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#work .toolsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

#work .toolsContainer h4 {
  color: var(--primaryText);
  opacity: 0.5;
  font-size: 32px;
  font-weight: 300;
}

#work .toolsContainer .tools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#work .toolsContainer .tools img {
  height: 64px;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

#contact {
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
}

#contact form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

#contact form .inputStyle {
  border: solid 2px var(--primaryText);
  background-color: transparent;
  padding: 20px;
  color: var(--primaryText);
  font-size: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  outline: none;
  width: 100%;
}

#contact form .inputStyle:hover {
  opacity: 0.7;
}

#contact form .inputStyle:focus {
  opacity: 1;
}

#contact form .credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#contact form .msgInput {
  resize: none;
  height: 400px;
}

#contact form .bottomArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact form .bottomArea .CTA button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact form .bottomArea .CTA button .loader {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-animation: loading 1.5s infinite linear;
          animation: loading 1.5s infinite linear;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    width: 10px;
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 50px;
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    width: 10px;
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 50px;
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    width: 10px;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    width: 10px;
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 50px;
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    width: 10px;
  }
  75% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 50px;
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    width: 10px;
  }
}

#contact form .bottomArea .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#contact form .bottomArea .socials a {
  height: 42px;
  opacity: 0.5;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#contact form .bottomArea .socials a img {
  height: 100%;
}

#contact form .bottomArea .socials a:hover {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#contact .response {
  background-color: var(--primaryText);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  border-radius: 7px;
  padding: 15px 30px;
  font-size: 20px;
  color: var(--bgColor);
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: transform 300ms, opacity 300ms;
  transition: transform 300ms, opacity 300ms, -webkit-transform 300ms;
}

#contact .response.show {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 1;
}

#contact .response.error {
  background-color: #dc5151;
  color: #fff;
}

#about,
#work {
  padding-block: 200px;
}

/* More Work Page */
.moreWork {
  padding-block: 100px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  overflow-x: hidden;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.moreWork > *:not(.bgArt) {
  z-index: 2;
  width: 90%;
  max-width: 1500px;
}

.moreWork .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moreWork .topBar .CTA button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moreWork .topBar .CTA button img {
  height: 70%;
}

.moreWork .projects .projectHeader {
  font-size: 32px;
  font-weight: 400;
  color: var(--primaryText);
  margin-bottom: 30px;
}

.moreWork .projects .topProjects {
  width: 100%;
  margin-bottom: 50px;
}

.moreWork .projects .topProjects .carouselView {
  width: 100%;
}

.moreWork .projects .smallProjects {
  width: 100%;
}

.moreWork .projects .smallProjects .smallProjectsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.moreWork .projects .smallProjects .smallProjectsContainer a {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "stack";
  overflow: hidden;
}

.moreWork .projects .smallProjects .smallProjectsContainer a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: scale 300ms, -webkit-filter 300ms;
  transition: scale 300ms, -webkit-filter 300ms;
  transition: scale 300ms, filter 300ms;
  transition: scale 300ms, filter 300ms, -webkit-filter 300ms;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stack;
}

.moreWork .projects .smallProjects .smallProjectsContainer a:hover img {
  scale: 1.1;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

/* Overwriting styles */
.switchPage {
  opacity: 0;
}

/* Media queries */
@media screen and (max-width: 1400px) {
  #home .homeContent div h1 {
    font-size: 64px;
  }
  #home .homeContent div p {
    font-size: 32px;
  }
  #about .aboutText > * {
    width: 80%;
  }
}

@media screen and (max-width: 1055px) {
  #home {
    z-index: 3;
  }
  #home .homeContent .imgContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70%;
    min-width: 500px;
    opacity: 0.5;
  }
  #home .homeContent .imgContainer::after {
    -webkit-box-shadow: inset 0px 0px 30px 50px var(--bgColor);
            box-shadow: inset 0px 0px 30px 50px var(--bgColor);
  }
  .bgArt {
    height: 80%;
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  #home nav {
    height: 100px;
  }
  #home nav .navItems > *:not(.switchTheme) {
    display: none;
  }
  .title {
    font-size: 48px;
  }
  #about .bgArt {
    padding: 120px;
    border-radius: 0 0 0 150px;
  }
  #about .aboutText p {
    width: 100%;
    font-size: 24px;
  }
  #about,
  #work {
    padding-block: 100px;
  }
  #contact form .credentials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .response {
    font-size: 18px;
  }
  .moreWork .backArrow svg {
    height: 32px;
  }
}

@media screen and (max-width: 600px) {
  #home .homeContent .imgContainer {
    min-width: 300px;
  }
  #contact form .bottomArea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  #contact form .bottomArea .CTA {
    width: 80%;
  }
  #contact form .bottomArea .CTA div,
  #contact form .bottomArea .CTA button {
    width: 100%;
  }
  .moreWork .projects .smallProjects .smallProjectsContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  #home .homeContent div h1 {
    font-size: 48px;
  }
  #home .homeContent div p {
    font-size: 24px;
  }
  #work .featured {
    aspect-ratio: unset;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    max-height: none;
  }
  #work .toolsContainer .tools img {
    height: 42px;
  }
  .moreWork .projects .projectHeader {
    font-size: 24px;
  }
  .title {
    font-size: 32px;
  }
}
/*# sourceMappingURL=style.css.map */