@import '../../app/globals.css';

.menuBtn * {
  /* transition: x, y, width, height, opacity; */
  transition: all 200ms ease;
}
.menuBtn:hover .vertical {
  y: 3px;
  height: 46px;
}
.menuBtn:hover .horizontal {
  x: 3px;
  width: 46px;
} 
.menuBtn:hover .up {
  x: 41px;
}
.menuBtn:hover .down {
  x: 3px;
}
.menuBtn:hover .left {
  y: 3px;
}
.menuBtn:hover .right {
  y: 41px;
}

.navItem-transition-1 {
  transition: border 150ms, opacity 300ms, transform 300ms;
}
.navItem-transition-2 {
  transition: border 150ms, opacity 300ms 50ms, transform 300ms 50ms;
}
.navItem-transition-3 {
  transition: border 150ms, opacity 300ms 100ms, transform 300ms 100ms;
}
.navItem-transition-4 {
  transition: border 150ms, opacity 300ms 150ms, transform 300ms 150ms;
}


.navMenu.showMenu .menuBtn {
  rotate: 45deg;
}
.navMenu.showMenu .menuBg {
  opacity: 1;
}
.navMenu.showMenu .menuItems a {
  pointer-events: all;
}
.navMenu.showMenu .menuItems a:hover {
  border-color: hsl(var(--foreground));
}
.menuBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(var(--background));
  opacity: 0;
  pointer-events: none;
  z-index: 23;
  transition: opacity 300ms;
}